<!DOCTYPE html>
<html>
  <head>
    <title>GameLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <p>Hello, i'm the header in all of your pages</p>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>Hello, i'm the footer in all of your pages</p>    
  </footer>
</html>
